@model Coombu.Models.LocalPasswordModel

<p>
    @ViewRes.AccountStrings.SetPasswordMessage
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@ViewRes.AccountStrings.SetPasswordFormLegend</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="@ViewRes.AccountStrings.SetPasswordFormSubmitButtonTitle" />
    </fieldset>
}
